/* Found this video: https://www.youtube.com/watch?v=Hwq_Mr12bcI that shows how to add 
downloaded google fonts and customized name to call it out on pertaining selectors */

@font-face {
  src: url(../Drones/Fonts/Rajdhani/Rajdhani-Light.ttf);
  font-family: 'Raj';
}

@font-face {
  src: url(../Drones/Fonts/Roboto/Roboto-Bold.ttf);
  font-family: 'Rob';
}

@font-face {
  src: url(../Drones/Fonts/Poppins/Poppins-Bold.ttf);
  font-family: 'Poppins';
}

/* Resetting browser's default margin and padding */

* {
  margin: 0;
  padding: 0;
}

/* Trying out smooth scrolling behavior  --tip I got from my last feedback :)-- */

body {
  font-family: monospace;
  width: 100%;
  background-color: #eeeeee;
  scroll-behavior: smooth;
  line-height: 1.5;
}

header {
  width: 100%;
  height: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('https://i.insider.com/588b9fa84757521b008b5045?width=1190');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: white;
  font-size: 50px;
  padding: 15px;
  text-transform: uppercase;
}

/* Adding downloaded font */
h2 {
  font-size: 50px;
  font-family: 'Rob', monospace;
  padding: 50px;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-size: 25px;
  text-align: center;
  color: #32515b;
  padding: 15px;
  font-family: 'Poppins';
}

p {
  font-family: 'Raj', serif;
  padding: 20px;
  text-align: justify;
}

#grid-floats,
#grid-flex {
  margin: 20px 10px;
}

#grid-floats .grid-item {
  height: 630px;
}

#grid-floats li,
#grid-flex li {
  margin: 10px;
  padding: 10px;
}

.grid-item {
  list-style-type: none;
  background-color: #ffffff;
  border-radius: 5%;
  overflow: scroll;
  /*overflow: hidden;*/
}

/* Decided to use transform on hover to the whole block instead of image only */

.grid-item:hover {
  box-shadow: 0 0 15px #000000;
  transform: scale(1.1);
  transition: 0.2s ease;
}

img {
  display: block;
  padding: 50px;
  width: 70%;
  border-radius: 50%;
}

/*img:hover {
  opacity: 0.8; 
  transform: scale(1.5);
  transition: 0.3s ease;
}*/

@media (max-width: 600px) {
  header {
    height: 200px;
  }

  h1 {
    padding: 5px;
  }

  #grid-floats,
  #grid-flex {
    margin: 10px;
  }

  #grid-floats li,
  #grid-flex li {
    margin: 20px auto;
  }

  .grid-item {
    font-size: 15px;
  }
  .grid-item:hover {
    box-shadow: 0 0 15px #000000;
    transform: scale(1.05);
    transition: 0.2s ease;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  section {
    clear: both;
  }

  .grid-item {
    float: left;
  }

  #grid-floats li:nth-child(1) {
    /*float: left;*/
    width: 40%;
  }

  #grid-floats li:nth-child(2) {
    width: 40%;
  }

  #grid-floats li {
    width: 25%;
    margin: 10px;
  }

  #grid-flex {
    display: flex;
    flex-wrap: wrap;
  }

  #grid-flex li:nth-child(1) {
    width: 40%;
  }
  #grid-flex li:nth-child(2) {
    width: 40%;
  }
  #grid-flex li {
    width: 25%;
    margin: 10px;
  }
}

@media (min-width: 1024px) {
  section {
    clear: both;
  }

  .grid-item {
    float: left;
  }

  #grid-floats li:nth-child(1) {
    /*float: left;*/
    width: 40%;
    overflow-y: auto;
  }

  #grid-floats li {
    width: 20%;
  }

  #grid-flex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  #grid-flex li:nth-child(1) {
    width: 40%;
  }

  #grid-flex li {
    width: 20%;
  }
}
